<<<<<<< HEAD
.error-container {
    background-color: #f5f5f5;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-container h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    color: red;
}

.error-container p {
    font-size: 1.5em;
    font-family: sans-serif;
    color: #000;
}

.error-container a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
=======
.error {
    display: block;
    text-align: center;
}

.button {
    background-color: aqua;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
>>>>>>> 9ddb49ddcfa4bc3e31703882cc54df3171515230
}