.bots {
    background-color: #ffcc00; /* Яркий жёлтый цвет для соответствия стилю сайта */
    color: #000000;            /* Чёрный текст для контраста с жёлтым фоном */
    border-radius: 10px;       /* Немного уменьшил радиус для согласованности с остальными кнопками */
    font-size: 17px;
    font-weight: bold;         /* Для более яркого визуального эффекта */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Тень для объёма */
    transition: all 0.2s ease-in-out; /* Плавные эффекты на hover */
    padding: 10px 20px;        /* Добавил отступы внутри кнопки для удобства */
}

.bots:hover {
    background-color: #b58900; /* Более тёмный жёлтый цвет при наведении */
    transform: scale(1.05);    /* Лёгкое увеличение при наведении */
}

.sub-menu_1 {
    display: none;
}

.main-item_1:focus ~ .sub-menu_1,
.main-item_1:active ~ .sub-menu_1,
.sub-menu_1:hover {
    display: block;
}


.sub-menu_2 {
    display: none;
}

.main-item_2:focus ~ .sub-menu_2,
.main-item_2:active ~ .sub-menu_2,
.sub-menu_2:hover {
    display: block;
}


.sub-menu_3 {
    display: none;
}

.main-item_3:focus ~ .sub-menu_3,
.main-item_3:active ~ .sub-menu_3,
.sub-menu_3:hover {
    display: block;
}


.sub-menu_4 {
    display: none;
}

.main-item_4:focus ~ .sub-menu_4,
.main-item_4:active ~ .sub-menu_4,
.sub-menu_4:hover {
    display: block;
}


.sub-menu_5 {
    display: none;
}

.main-item_5:focus ~ .sub-menu_5,
.main-item_5:active ~ .sub-menu_5,
.sub-menu_5:hover {
    display: block;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #e0e0e0;
    background: #1c1c1c;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 36px; /* Крупнее, чем h2 */
    color: #ffcc00;  /* Яркий желтый цвет, чтобы выделить h1 */
    margin-bottom: 15px; /* Больше отступов снизу */
    font-weight: bold; /* Более жирный шрифт для важности */
    text-transform: uppercase; /* Для придания заголовку более строгого вида */
}

h2 {
    font-size: 28px;
    color: #b58900;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #b58900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

#footer {
    margin-top: auto;
    padding: 20px;
    background-color: #2e2e2e;
    text-align: center;
    color: #e0e0e0;
}