.sub-menu_1 {
    display: none;
}

.main-item_1:focus ~ .sub-menu_1,
.main-item_1:active ~ .sub-menu_1,
.sub-menu_1:hover {
    display: block;
}


.sub-menu_2 {
    display: none;
}

.main-item_2:focus ~ .sub-menu_2,
.main-item_2:active ~ .sub-menu_2,
.sub-menu_2:hover {
    display: block;
}