.sub-menu_1 {
    display: none;
}

.main-item_1:focus ~ .sub-menu_1,
.main-item_1:active ~ .sub-menu_1,
.sub-menu_1:hover {
    display: block;
}


.sub-menu_2 {
    display: none;
}

.main-item_2:focus ~ .sub-menu_2,
.main-item_2:active ~ .sub-menu_2,
.sub-menu_2:hover {
    display: block;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #e0e0e0;
    background: #1c1c1c;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 28px;
    color: #b58900;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #b58900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

#footer {
    margin-top: auto;
    padding: 20px;
    background-color: #2e2e2e;
    text-align: center;
    color: #e0e0e0;
}