.buttons {
    background-color: #156ced;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#dev {
    color: red;
}

#content {
    width: 500px;
}

#footer {
    position:relative;
    right: 0;
    bottom: 0;
    padding: 0px;
    font-weight: bold;
}