.main_menu {
    display: inline-table;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons {
    background-color: #2c2f36;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-family: "Roboto Mono", "Comic Sans MS";
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    background: linear-gradient(to right, #1a1d21, #4a5b6a);
    margin: 10px;
    width: 23%;
}

.buttons:hover {
    background-color: #4a5b6a;
    color: #e0e0e0;
    transform: scale(1.05);
}

@media (max-width: 450px) {
    .main_menu {
        display: inline-block;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .buttons {
        width: calc(45% - 10px);
        margin-bottom: 10px;
    }
}

#dev {
    color: #ff3333; 
}

#content {
    width: 100%;
    padding: 20px;
    background-color: #1a1d21;
    color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
}

#footer {
    position:relative;
    right: 0;
    bottom: 0;
    padding: 0px;
    font-weight: bold;
}